.characterCard {
  background:#ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}


.characterImage {
 
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 15px 15px 0 0;
}

.characterName {
  color: #283618;
}
.characterSpecies,
.characterStatus,
.characterOrigin {
  color: 283618; 
  text-align: left;
  margin-left: 15px;
}
